{
  "bracketSpacing": true,
  "printWidth": 80,
  "proseWrap": "preserve",
  "endOfLine": "crlf",
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": true,
  "parser": "typescript",
  "arrowParens": "always",
  "requirePragma": true,
  "insertPragma": true
}
